*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background: #3f3f3f;

    box-shadow: 0px 23px 34px 12px rgba(0,0,0,0.1);
}

nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dashboardIsolated h1{
    border-bottom: none !important;
    padding: 0;
    margin: 0;
    color: white;
}

.dashboardIsolated .mainContainer{
    display: flex;
    width: 100%;
    height: calc(100vh - 65px);
}

.dashboardIsolated .sideBar{
    background: #333333;
    height: 100%;
    width: 4rem;
}

.mainContent{
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    align-items: left;
    justify-content: start;
    flex-wrap: wrap;

    max-height: calc(100vh - 65px);
    overflow-y: scroll;
}

.alert{
    padding: 1rem;
    margin: 1rem;
    background: #3f3f3f;
    width: 300px;
    height: 180px;

    border-radius:8px ;

    color: white;

    display: flex;
    flex-direction: column;
}

.alert > button{
    margin-top: 2rem;
    padding: .5rem;
    border: none;
    border-radius: 16px;
}

.alert button{
    margin-top: 1rem;
}