.CadContainer form{
    margin: 1rem;
    text-align: left;

    display: flex;
    flex-direction: column;
}
.CadContainer h1{
    text-align: center !important;
}

.CadContainer label{
    font-weight: bold;
    margin-top: .5rem;
}

.CadContainer input{
    width: 90%;
    padding: .5rem;
}

.CadContainer button{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background: greenyellow;
}

.CadContainer button:hover{
    transition: .7s;
    background: white;
}

.CadContainer a{
    color: black;
    text-decoration: none;
    text-align: center !important;

    margin-top: 1rem;
}