.formCheckup{
    margin-top: 2rem;
}

.formContainer{
    display: flex;
    flex-direction: column;

}

.formContainer label{
    margin-top: 1rem;
    text-align: left;
}

.formContainer select{
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
}

.successButton{
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: greenyellow;
    font-weight: bold;
    cursor: pointer;
}

.successButton:hover{
    transition: .7s;
    background: white;
}

textarea{
    width: 100%;
    height: 100px;
}