
.backgroundOutFocused {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    max-width: 550px;
    width: 90%;

    background: var(--cor-navbar); 
    color: var(--cor-texto-claro);
    padding: 2.5rem;
    border-radius: 12px;
    
    border: 1px solid rgba(255, 255, 255, 0.1); 
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

.modalContent h2 {
    font-size: 1.8rem;
    color: var(--cor-perigo); 
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--cor-alerta-bg);
}

.modalContent p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;
}

.modalContent p strong {
    color: var(--cor-texto-claro);
    min-width: 120px;
    display: inline-block;
}

.modalContent button {
    margin-top: 20px;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--cor-botao-detalhes);
    color: white;
    transition: background-color 0.3s;
    align-self: flex-end; 
}

.modalContent button:hover {
    background-color: #0056b3; 
}